<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fun.uncle.myshop.commons.mapper.TbItemParamItemMapper">
  <resultMap id="BaseResultMap" type="com.fun.uncle.myshop.commons.domain.TbItemParamItem">
    <!--@mbg.generated generated on Thu Jan 09 10:05:53 CST 2020.-->
    <!--@Table tb_item_param_item-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="param_data" jdbcType="VARCHAR" property="paramData" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Jan 09 10:05:53 CST 2020.-->
    id, item_id, created, updated, param_data
  </sql>
</mapper>