<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fun.uncle.myshop.commons.mapper.TbOrderMapper">
  <resultMap id="BaseResultMap" type="com.fun.uncle.myshop.commons.domain.TbOrder">
    <!--@mbg.generated generated on Thu Jan 09 10:05:53 CST 2020.-->
    <!--@Table tb_order-->
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="payment" jdbcType="VARCHAR" property="payment" />
    <result column="payment_type" jdbcType="INTEGER" property="paymentType" />
    <result column="post_fee" jdbcType="VARCHAR" property="postFee" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="consign_time" jdbcType="TIMESTAMP" property="consignTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="shipping_name" jdbcType="VARCHAR" property="shippingName" />
    <result column="shipping_code" jdbcType="VARCHAR" property="shippingCode" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="buyer_message" jdbcType="VARCHAR" property="buyerMessage" />
    <result column="buyer_nick" jdbcType="VARCHAR" property="buyerNick" />
    <result column="buyer_rate" jdbcType="INTEGER" property="buyerRate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Jan 09 10:05:53 CST 2020.-->
    order_id, payment, payment_type, post_fee, `status`, created_time, updated_time, 
    payment_time, consign_time, end_time, close_time, shipping_name, shipping_code, user_id, 
    buyer_message, buyer_nick, buyer_rate
  </sql>
</mapper>